github "mxcl/PromiseKit" ~> 6.0
github "Prince2k3/datasource" 
github "Prince2k3/swift-additions" "master"
github "marmelroy/PhoneNumberKit"
github "malcommac/SwiftDate"
github "Alamofire/Alamofire" ~> 4.8.1
