github "mxcl/PromiseKit" ~> 6.12.0
github "Prince2k3/datasource" 
github "Prince2k3/swift-additions" "master"
github "marmelroy/PhoneNumberKit"
github "melvitax/DateHelper"
github "Alamofire/Alamofire" "5.0.0-rc.3"
